:host {
  width: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    text-align: center;
    display: flex;
    align-items: center;
  }

  &__quantity {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    margin: 0 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-top: 10px;
  }

  &__cost {
    padding: 15px;
    text-align: right;
    border-radius: 15px;
    background-color: bisque;
    margin-top: 15px;
  }
}

.empty-hint {
  text-decoration: underline;
  margin-top: 10px;
}

.highlight-mouseenter {
  background-color: azure;
}
