<div class="cart">
  <div class="cart__header">
    <h2>Cart</h2>
    <p class="cart__quantity">{{totalQuantity$ | async}}</p>
  </div>
  <ng-container *ngIf="products$ | async as products">
    <ng-container *ngIf="products.length; else emptyHint">
      <div class="cart__filter filter">
        <select class="filter__list" [(ngModel)]="selectedSortOption" (change)="onSortOptionChange()">
          <option *ngFor="let option of sortOptions" [value]="option.value">{{option.label}}</option>
        </select>
        <label class="filter__direction">
          <input type="checkbox" [(ngModel)]="isAscending" (change)="onSortOrderingChange()">
          Sort by Ascending
        </label>
      </div>
      <app-cart-item appHighLight
        class="cart__item"
        *ngFor="let product of products; trackBy: trackByItems"
        [product]=product
        (deleteProduct)="onDeleteProduct($event)"
        (quantityIncrease)="onQuantityIncrease($event)"
        (quantityDecrease)="onQuantityDecrease($event)"></app-cart-item>
      <p class="cart__cost">Total Cost: {{totalCost$ | async}}</p>
    </ng-container>
  </ng-container>
</div>
<ng-template #emptyHint>
  <div class="empty-hint">
    Cart is empty
  </div>
</ng-template>
