:host {
  margin-top: 10px;

  &.highlight-mouseenter {
    .cart-item {
      background-color: azure;
    }
  }
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid grey;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  cursor: default;

  &__content {
    display: flex;
    align-items: center;
  }

  &__product {
    margin-right: 20px;
    text-align: center;
  }

  &__controls {
    display: flex;
    align-items: center;

    button {
      cursor: pointer;
    }
  }

  &__quantity-control {
    display: flex;
    align-items: center;
    margin-right: 15px;

    button {
      width: 20px;
      height: 19px;
    }

    p {
      margin: 0 8px;
    }
  }
}
